{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
<div class="container">
  <form method="post">
    {% csrf_token %}
    <div class="row">
      <h1>Tem certeza que irá deletar esse registro ?</h1>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Placa : {{obj.placa}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">Data : {{obj.data}}</h6>
          <h6 class="card-subtitle mb-2 text-muted">Número OS : {{obj.os}}</h6> 
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-4">
        <button type="submit" class="btn btn-danger">Deletar OS</button>
        <a href="{% url 'os' %}" class="btn btn-secondary">Voltar</a>
      </div>

    </div>
  </form>
  <br>
  <!-- Button trigger modal -->
  {% for message in messages %}
  
    <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
      <strong>{{message}}</strong>      
    </div>
  
{% endfor %}
    
  </div>
  {% endblock %}