{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

<style type="text/css">
    html, body, div, iframe {margin:0; padding:0; height:97%}
    iframe {display:block; width:100%; border:none}
</style>



    <iframe style="display: block; border: none;" width="100%"  height=""  src="https://app.powerbi.com/view?r=eyJrIjoiNDVkZmRjZjUtMTcxZi00OGViLTgyZmMtYmUzZGJmMTQ3NGE0IiwidCI6ImJhMjllMzlkLTBkMjUtNDQ4NS1iM2MyLWViMWY2NDFjNTAxNCJ9&pageName=ReportSection508c014e24901a43e07b" frameborder="0" allowFullScreen="true"></iframe>
{% endblock %}
